.main {
  width: 80%;
}

.axieImg {
  width: 50%;
}

.col label {
  display: block;
}

#dropdown-class {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn-space {
  margin-left: 5px;
}

#calcButton {
  margin-right: 15px;
}

#infographics {
  margin-top: 20px;
}

#tbl-container {
  width: 30%;
  margin-right: 40px;
}

#tbl-container {
  display: inline-block;
}

.chart-container {
  display: inline-block;
  margin: auto;
}

.alert {
  display: inline-block;
}

footer {
  position:absolute;
  bottom:0;
  height:50px;
  text-align: center;
}

html,
body, .container {
    height: 100%;
}

#info {
  position: absolute;
  bottom: 0;
}
